* {
    margin: 0 px;
    padding: 0 px;
}

header {
    height: 40px;
    border: 2px solid gray;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
}

main {
    display: flex;
    flex-direction: row;
}

div.left {
    border: 2px solid red;

    min-height: (100vh - 40 px);

    width: 30vh;

    display: flex;
    flex-direction: column;
}

div.center {
    border: 2px solid blue;

    min-height: (100vh - 40px);

    width: 400px;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

div.right {
    border: 2px solid green;

    min-height: (100vh - 40px);

    width: 30vh;
}

div.left button {
    text-align: left;
    background-color: transparent;
    padding: 5px;
    border: 0;
}

div.left button:hover {
    background-color: grey;
    
}